/* ล้างค่า Default ของ Browser */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* กันเลื่อนซ้ายขวา */
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}